<!DOCTYPE html>
<html lang="en" ng-app="produtoModule">


<head>      
    <!-- Bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

  <script src="control/produto.js"></script>  
  </head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-controller="produtoControl">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">SCGP</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Produtos</span>
          </a>
        </li>            
      </ul>    
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Início</a>
        </li>
        <li class="breadcrumb-item active">Produtos</li>
      </ol>
       <div class="card mb-3">
        <div class="card-header">
          Cadastro de Produtos
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">              
              <input type="hidden" class="form-control" ng-model="produto.codigo" aria-describedby="emailHelp" placeholder="Código de barras do produto">              
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Descrição</label>
              <input type="text" class="form-control" ng-model="produto.descricao" placeholder="Descrição do produto">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Valor de Compra</label>
              <input type="text" class="form-control" ng-model="produto.valor_compra" placeholder="R$">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Valor de Venda</label>
              <input type="text" class="form-control" ng-model="produto.valor_venda" placeholder="R$">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="salvar()">Salvar</button>
            <button type="button" class="btn btn-danger" ng-click="excluir();">Excluir</button>
          </form>
        </div>        
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Produtos Cadastrados</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>                  
                  <th>Descricao</th>
                  <th>Valor Compra</th>
                  <th>Valor Venda</th>
                </tr>
              </thead>              
              <tbody>
                <tr ng-repeat="produtoTabela in produtos" ng-click="selecionaProduto(produtoTabela);">                  
                  <td>{{produtoTabela.descricao}}</td>
                  <td>{{produtoTabela.valor_compra}}</td>
                  <td>{{produtoTabela.valor_venda}}</td>
                </tr>            
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>SCGP © 2018</small>
        </div>
      </div>
    </footer>              
  </div>
</body>

</html>
